@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  background-color: rgb(252,252,252);
  color: #003049;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 25px;
}

h1, h2 {
  color: #ee6c4d;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
}

a {
  text-decoration: none;
  text-color: ; #003049
  padding: 5px;
  line-height: 20px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card {
  background-color: #eff7f6;
  padding: 10px;
  margin: 20px;
  border: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,.07);
}

.list-inline > li {
  display: inline-block;
  text-align: text-center;
  padding: 0px 20px;
  color: #003049;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  color: #003049;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #e85d04;
    background-image: linear-gradient(to top left,
                                      rgba(250, 250, 250, .1),
                                      rgba(250, 250, 250, .1) 30%,
                                      rgba(255, 255, 255, 255));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .2),
                inset -2px -2px 3px rgba(0, 0, 0, .2);
}

.styled:hover {
    background-color: #003049;
    color: #fff;
    text-decoration: none;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(245, 245, 235, .4),
                inset 2px 2px 3px rgba(0, 0, 0, .2);
  font-size: 150%;
  text-decoration: none;
}

