@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,700&family=Poppins:wght@100;300;400;600;900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

/* generic styling - colors and fonts */
body  {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #F7F9FC;
  color: #575F7D;
  text-align: center;
}

h1, h2{
  font-family: 'Lato', sans-serif;
  color: #002F00;
}

h1 {
  font-size: 40px; 
}

h2  {
  font-size: 24px;
}

p {
  line-height: 24px;
}

a{
  text-decoration: none;
  font-weight: lighter;
  color: #9DF7E5;
  margin-top: 30px;
}

/* classes */
.container {
  width: 900px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card {
  background-color: white;
  padding: 30px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin: 15px 0px;
  text-align: center;
}

.img-intro {
  width: 300px;
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: #8D818C;
}
.list-inline i:hover {
  color: #9DF7E5;
}

/* ids */
#btn-intro{
  border: 1px solid #9DF7E5;
  background-color: #8D818C;
  border-radius: 5px;
  padding: 10px 15px;
}

#btn-intro:hover{
  color: #8D818C;
  font-weight: bold;
  background-color: #9DF7E5;
}